<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.naz.label" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.hardware.usb.host" android:required="false"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.naz.label.App" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="com.naz.label.ui.main.SplashActivity" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|layoutDirection|navigation|orientation" android:launchMode="singleTask" android:name="com.naz.label.ui.home.HomeActivity" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.upgrade.UpgradeActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.set.SettingActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.thl.filechooser.FileChooserActivity" android:theme="@style/NoBarDialog"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.usb.UsbActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.about.AboutActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.monitor.MonitorActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.language.LanguageSwitchActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.serial.SerialPortActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.scanble.DialogActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.scanble.ScanBleActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.printer.PrinterSerialActivity"/>
        <activity android:launchMode="singleTop" android:name="com.naz.label.ui.net.NetActivity"/>
        <activity android:name="com.naz.label.ui.log.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.naz.label.fileprovider.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_path"/>
        </provider>
        <provider android:authorities="com.naz.label.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
    </application>
</manifest>
